Arshpreet Kandola 
September 24 2023
Task 4 SQL

In [1]:
import sqlite3

In [10]:
connection = sqlite3.connect('books.db')

In [3]:
import pandas as pd

In [4]:
pd.options.display.max_columns=10

In [6]:
pd.read_sql('SELECT * FROM authors', connection)

DatabaseError: Execution failed on sql 'SELECT * FROM authors': no such table: authors

In [7]:
pd.read_sql('SELECT * FROM titles', connection)

DatabaseError: Execution failed on sql 'SELECT * FROM titles': no such table: titles